*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}

#container{
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
/* Header Section Style  */

header{
    background-color: rgba(255, 144, 14, 0.1);
}

.header-top-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 100px;
}
.header-top-area > .logo > a{
    text-decoration: none;
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
span.highlight{
    color: rgba(255, 144, 14, 1);
}
.header-top-area > nav, nav > ul{
    display: flex;
}
.header-top-area > nav > ul > li > a{
    padding-left: 30px;
    color: #424242;
    transition: .2s;
}
.header-top-area > nav > ul > li > a:hover{
    color: rgba(255, 144, 14, 1);
}

/* header-banner-area style  */
.header-content{
    text-align: center;
    margin-bottom: 50px;
}
.header-content > h1{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}
.header-content > p{
    padding: 30px 0;
    width: 50%;
    line-height: 30px;
    margin: 0 auto;
    color: #727272;
}
button{
    background-color: rgba(255, 144, 14, 1);
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    border: 2px solid rgba(255, 144, 14, 1);
    cursor: pointer;
    transition: .5s;
}
button:hover{
    border: 2px solid rgba(255, 144, 14, 1);
    background-color: transparent;
    color: rgba(255, 144, 14, 1);
}
img{
    width: 100%;
    padding-bottom: 30px;
}

/* features style */
.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.features-images{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.features-images > img{
    margin: 0;
    padding: 0;
}
.features-images > img{
    width: 40%;
    margin: 0 20px 20px 0;
}
.features-content{
    width: 50%;
}
.features-content > h1{
    font-size: 45px;
    color: #727272;
}
.dark{
    color: #131313;
}
.features-content > p{
    width: 75%;
    margin: 30px 0;
    line-height: 26px;
}
.mobile-view{
    display: none;
}

/* Experience Features Section Style */

.experience-features{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.experience-features-content{
    width: 45%;
}

hr{
    width: 6px;
    height: 100px;
    background-color: rgba(255, 144, 14, 1);
    border: none;
    outline: none;
    margin-right: 20px;
}
.experience-features-content > h1{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 45px;
    color: #131313;
    margin-bottom: 30px;
}
.experience-features-content > p{
    margin: 20px;
}
.experience-content-box{
    box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);
    margin: 20px 0;
    padding: 20px 30px;
}
.experience-content-box > h2{
    margin-bottom: 10px;
    font-size: 20px;
    color: rgba(255, 144, 14, 1);
}
.experience-content-box > p{
    line-height: 26px;
}

.experience-features-image{
    width: 45%;   
    position: relative;
}
.experience-features-image > img{
    width: 100%;
}
a.experience-btn{
    display: inline-block;
    font-size: 40px;   
    font-weight: 700;
    background-color: rgba(255, 144, 14, 1);
    text-align: center;
    color: white;
    padding: 20px;
    line-height: 25px;
    border-radius: 5px;
    cursor: pointer;
    border: 5px solid rgba(255, 144, 14, 1);
    transition: .5s;
    position: absolute;
    bottom: 100px;
    left: -50px;
}
a.experience-btn > span{
    font-size: 16px;
    font-weight: 400;
}
a.experience-btn:hover{
    background-color: rgba(255, 144, 14, 0.2);
    color: rgba(255, 144, 14, 1);
}
/*======================
Style For Small Device 
========================*/

/* Header Section */
@media screen and (max-width: 600px) {
    .header-top-area{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        margin-bottom: 70px;
    }
    .header-top-area > .logo > a{
        text-decoration: none;
        font-size: 35px;
        font-weight: 700;
        color: #131313;
        display: block;
        margin-bottom: 30px;
    }
   
    .header-top-area > nav, nav > ul{
        display: flex;
        flex-direction: column;
    }
    .header-top-area > nav > ul > li {
        padding: 10px 0;
        color: #424242;
        transition: .5s;
        text-align: center;
    }
  
    /* Header Content */
    .header-content > h1{
        color: #131313;
        font-size: 40px;
        font-weight: 700;
    }
    .header-content > p{
        padding: 30px 0;
        width: 80%;
        line-height: 30px;
        margin: 0 auto;
        color: #727272;
    }

    /* Features Section */
    .features{
        margin: 50px 0;
    }
    .features{
        display: flex;
        flex-direction: column;
    }
    .features-images{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .features-images > img{
        width: 100%;
    }
    .mobile-view{
        display: block;
        margin-bottom: 50px;
        font-size: 40px;
        font-weight: 700;
    }
    /* Features content */
    .features-content{
        width: 100%;
    }
    .features-content > h1{
        font-size: 35px;
        margin-top: 30px;
    }
    .features-content > p{
        width: 100%;
    }

    /* Experience Features Section */

.experience-features-content > h1{
        font-size: 30px;
 }
 hr{
    height: 80px;
}
.experience-features{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.experience-features-content, .experience-features-image{
    width: 100%;
}
a.experience-btn{
    font-size: 30px;   
    position: absolute;
    bottom: 0px;
    left: 25%;
    
}





  }
  