*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}

#container{
    width: 90%;
    margin: 0 auto;
}

/* Header Section Style  */

header{
    background-color: rgba(255, 144, 14, 0.1);
}

.header-top-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 100px;
}
.header-top-area > .logo > a{
    text-decoration: none;
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.header-top-area > nav > ul{
    display: flex;
    list-style: none;
}
.header-top-area > nav > ul > li > a{
    text-decoration: none;
    padding-left: 30px;
    color: #424242;
    transition: .5s;
}
.header-top-area > nav > ul > li > a:hover{
    color: rgba(255, 144, 14, 1);
}
/* header-banner-area style  */
.header-content{
    text-align: center;
    margin-bottom: 50px;
}
.header-content > h1{
    color: #131313;
    font-size: 64px;
    font-weight: 700;
}
.header-content > p{
    padding: 30px 0;
    width: 600px;
    line-height: 30px;
    margin: 0 auto;
    color: #727272;
}
button{
    background-color: rgba(255, 144, 14, 1);
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    border: 2px solid rgba(255, 144, 14, 1);
    cursor: pointer;
    transition: .5s;
}
button:hover{
    border: 2px solid rgba(255, 144, 14, 1);
    background-color: transparent;
    color: rgba(255, 144, 14, 1);
}
img{
    width: 100%;
    padding-bottom: 30px;
}